/* @override http://localhost:5000/static/css/annotate.css */

/* Sentence display */
div.token {
	float: left;
	margin-left: 1em;
	margin-bottom: 0.5em;
	font-size: 1.5em;
	text-align: center;
}

div.word-index {
	font-size: 0.7em;
	color: gray;
	text-align: center;
	margin-top:  -6px;
}

div.pos {
	display: none;
	font-size:  0.7em;
}

#annotation-box .tab-content {
	padding-right: 1em;
	padding-left: 1em;
}

.word-arg-marker {
	height: 12px;
	margin-top: 2px;
	font-size: 12px;
	font-weight: bold;
}

.word-arg-marker.inactive {
	background-color: white !important;
}


span.color-box {
	margin-left: 0.2em;
	border: 1px solid lightgray;
	width: 1em;
	height:  1em;
	display:  inline-block;
	vertical-align: center;
}

/* Form controls */
.frame-element label {
	font-size: 1.1em;
	margin-right: 1em;
}

.frame-element input {
	font-size: 1.2em;
	margin-right: 0.5em;
	width: 50px;;
	margin-top: 0.4em;
}

.frame-element span.word-index-help {
	font-size: 1em;
	color: gray;
}

