/* @override 
	http://localhost:5000/static/css/annotate.css
	http://127.0.0.1:5000/static/css/annotate.css
*/

/* Sentence display */
div.token {
	/* float: left; */
	display: inline-block;
	margin-left: 0.4em;
	margin-bottom: 0.5em;
	font-size: 1.4em;
	text-align: center;
}

div.word a.active {
	font-weight: bold;
	text-decoration: underline;
	color: brown;
}

div.word {
	color: gray;
}


div.word-index {
	font-size: 0.5em;
	color: gray;
	text-align: center;
	margin-top:  -6px;
}

div.pos {
	display: none;
	font-size:  0.7em;
}

#annotation-box .frames-for-token {
	height: 400px;
	overflow-y: auto;
	overflow-x: visible;
	padding: 0em 2em;
}


#annotation-box .tab-content {
	padding-right: 1em;
	padding-left: 1em;
}

.word-arg-marker {
	height: 16px;
	margin-top: 2px;
	font-size: 14px;
	font-weight: bold;
}

.word-arg-marker.inactive {
	background-color: white !important;
}

.word-arg-marker.active {
	font-weight: bold;
	color: brown;}


span.color-box {
	margin-left: 0.2em;
	border: 1px solid lightgray;
	width: 1em;
	height:  1em;
	display:  inline-block;
	vertical-align: center;
}

/* Form controls */
.frame-element label {
	font-size: 1.1em;
	margin-right: 1em;
}

.frame-element input {
	font-size: 1.2em;
	margin-right: 0.5em;
	width: 50px;;
	margin-top: 0.4em;
}

.frame-element span.word-index-help {
	font-size: 1em;
	color: gray;
}

